[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui
[submodule "ext/jsoncpp"]
	path = ext/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "ext/rtx/ext/googletest"]
	path = ext/rtx/ext/googletest
	url = https://github.com/google/googletest/
